<% url = url_for_view(custom_view) %>
<p>Cut and paste this into your web page where you wish the list to appear:<p>
<code>
&lt;script language="javascript" type="text/javascript" src="<%= url %>"&gt;&lt;/script&gt;
</code>
