<h2>Help</h2>
<%= link_to 'An Introduction'+arrow,
	document_url(:name => 'Introduction')%>
<%= document 'Adding a talk', true %>
<%= link_to 'User Guides'+arrow,
	document_url(:name => 'Documentation')%>
<%= document 'Getting Involved', true %>

<h2>Information On</h2>
<p>If you are looking for <b>Graduate or Post Doc Training opportunities</b> then please visit the <a href=" https://weblearn.ox.ac.uk/graduatetraining" target="_blank">Graduate Training tool in WebLearn</a></p>

