<h1>Updating Oxford Talks</h1>

<p>During Summer 2014 we'll be making Oxford Talks easier to use, adding some new features and creating a mobile app.</p>
<p>Follow our progress on our <a href="http://sharepoint.nexus.ox.ac.uk/oxfordtalks">Sharepoint Project Site (Oxford only)</a></p>

<h2>We'd like your help</h2>

<p>Please complete our <a href="https://www.survey.bris.ac.uk/oxford/oxfordtalks">User Survey</a> - or join our <a href="http://sharepoint.nexus.ox.ac.uk/oxfordtalksusers">User Group</a>.</p>

