<h1>Your password reset has been sent</h1>
<p>A password reset has been sent to your e-mail address. Click on the link in the email to reset your password</p>
<p><%= link_to 'Return to login page', login_url %></p>
<p><%= link_to 'Browse while you wait', home_url %></p>
