document.write("<%= stylesheet_link_tag('embedcss').gsub('"','\"').gsub("\n",'').gsub("\r",'') %><%= @content_for_layout.gsub('"','\"').gsub("\n",'') %><p class='ox-talks'>Powered by <a href='http://<%=  InstallationHelper.CURRENT_INSTALLATION.talksSiteHost %>'><%= InstallationHelper.CURRENT_INSTALLATION.talksSiteName %></a></p>");
